/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}





body {
	
	
}


#container{
	
	border:1px solid black;
	width: 800px;
	margin:auto;
	position:relative
	
}

p {
	width:300px;
	color: white;
}


p.red {
	background: red;
	position: relative;
	left: 300px;
	top: 500px;
}

p.green {
	background: green;
	/*position: absolute;
	right: 0px;
	bottom: 0px; */
	position: fixed;
	right: 0px
}

p.blue {
	background: blue;
}







